
<br><br>
<h2 id="about">Gym Studio</h2>
<br>
<br><br>
<div class="container-fluid ">
<div class="outbor">
    
<img src="assets\abt_img.jpg" alt="about_img" width=30% height="30%">
</div>

<div>
    <h3 align="center">About Gym Studio</h3>
    <p>
        Our approach to fitness training differs from the run of the mill globo-gyms and fitness studios out there that people are used to. We do not believe in artificial climate control, muscle isolation and machine assisted workouts, mirrors and color coded shakers. Our units are ‘no frills’, ‘no gimmicks’ and very spartan. We don’t do fancy; We do effective!

        The basic fitness program component is only 30 minutes a day for 5 days a week but will give you martial arts based fitness foundation to move into any sport, activity or challenge and hit the ground running. We use High as well as low intensity, high volume full-body combat fitness with complex movements and completely scalable progressions. Our periodisation and programming is based on solid sports science and time tested martial arts strengthening components. Dont use machines…. Be the machine!</p>
</div>
</div>
