<br><br>
<h2 align="center" id="contact">Send Message</h2>
<br><br>
<div class="card">
<form>
     <br>
     <label for="name">Your Name : </label>
    <input type="username" id="name" name="name">
    <br><br>
    <label for="name">Your Email : </label>
    <input type="email" id="name" name="name">
    <br><br>
    <label for="Number">Your Phone Number : </label>
    <input type="Number" id="Number" name="number">
    <br><br><br>
    <div align="center">
   <!-- <input type="button" name="Send Message">-->
   <button>Request Callback</button>
    </div>
</form>
</div>
<br>
<div class="container-fluid">
     <br>
     <p>Feel free to contact us if you have
any question</p>

<i class="fa-solid fa-envelope"></i>
gymclub@gmail.com
<br><br>
<i class="fa-solid fa-phone"></i>
+91 111-555-777-9
<br><br>
</div>