<br><br><br>
<h2 id="schedule">Gym Schedule</h2>
<br><br>
<table>
    <br>
    <tr>
        <td>Monday</td>
        <td>10:00am - 2:00pm</td>
        <td>John Doe</td>
        <!--<td input type="button" name="Join Now">Join Now</td>-->
        <a routerLink="/register" ><button>Join Now</button></a>
    </tr>
    <br>
    <tr>
        <td>Tuesday</td>
        <td>10:00am - 2:00pm</td>
        <td>Steve</td>
        <a routerLink="/register" ><button>Join Now</button></a>

    </tr>
    <br>
    <tr>
        <td>Wednesday</td>
        <td>10:00am - 2:00pm</td>
        <td>Andrew</td>
        <a routerLink="/register" ><button>Join Now</button></a>

    </tr>
    <br>
    <tr>
        <td>Thursday</td>
        <td>10:00am - 2:00pm</td>
        <td>Steve</td>
        <a routerLink="/register" ><button>Join Now</button></a>

    </tr>
    <br>
    <tr>
        <td>Friday</td>
        <td>10:00am - 2:00pm</td>
        <td>John Doe</td>
        <a routerLink="/register" ><button>Join Now</button></a>

    </tr>
    <br>
    <tr>
        <td>Saturday</td>
        <td>10:00am - 2:00pm</td>
        <td>Andrew</td>
        <a routerLink="/register" ><button>Join Now</button></a>

    </tr>
    <br>
</table>