<h2 id="coaches">Gym Trainers</h2>
<br>
<br><br>
    <div class="row">
    <div class="card">
        <img src="assets/trainer1.png">
        <br>
        <h3 align="center">John Doe</h3>
        <p>He possesses exceptional knowledge of fitness techniques and nutrition.</p>
        <br>
        <a href="#" >View More</a>
    </div>
    <div class="card">
        <img src="assets/trainer2.png">
        <br>
        <h3 align="center">Andrew</h3>
        <p>His coaching expertise helps clients achieve their fitness goals.</p>
        <br>
        <a href="#" >View More</a>
    </div>
    <div class="card">
        <img src="assets/trainer3.png">
        <br>
        <h3 align="center">Steve</h3>
        <p>He is skilled in creating personalized workout plans.</p>
        <br><br>
        <a href="#" >View More</a>
    </div>
    <div class="card">
        <img src="assets/trainer4.png">
        <br>
        <h3 align="center">Watt Bray</h3>
        <p>His motivational skills inspire clients to push their limits during workouts.</p>
        <br>
        <a href="#" >View More</a>
    </div>




   <!-- <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-person-walking"></i>
        </div>
        <br>
        <h2 align="center">Weight Reduce</h2>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <br><br>
        <a href="#" >Read More</a>
    </div>
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-weight-hanging"></i>
        </div>
        <br>
        <h2 align="center">Heavy Weight</h2>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <br><br>
        <a href="#" >Read More</a>
    </div>
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-bicycle"></i>
        </div>
        <br>
        <h2 align="center">Indoor Cycling</h2>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <br><br>
        <a href="#" >Read More</a>
    </div>
</div>
<br><br><br><br>
<div class="column">
    <div class="img1">
<img src="assets\about_img.jpg" width="550" height="500">
</div>
<div class="img2">
<img src="assets\hidden.jpg" width="1200" height="500" class="bg-img">
<p class="carousel-caption">Get special training 50% off pay now</p>
</div>
</div>-->