<br><br><br>
    <h2 id="classes">Gym Classes</h2>
<br>
<br><br>
    <div class="row">
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-dumbbell"></i>
        </div>
        <br>
        <h2 align="center">Body Building</h2>
        <br>
        <p>Pursuit of developing and sculpting one's physique through targeted strength training and nutrition.</p>
        <br>
        <a href="#" >Read More</a>
    </div>
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-person-walking"></i>
        </div>
        <br>
        <h2 align="center">Weight Reduce</h2>
        <br>
        <p>Process of losing excess body weight through diet, exercise, and lifestyle changes.




        </p>
        <br><br>
        <a href="#" >Read More</a>
    </div>
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-weight-hanging"></i>
        </div>
        <br>
        <h2 align="center">Heavy Weight</h2>
        <br>
        <p>Strength training can help build muscle mass and increase overall strength.</p>
        <br><br>
        <a href="#" >Read More</a>
    </div>
    <div class="card">
        <div class="triangle-down">
            <i class="fa-solid fa-bicycle"></i>
        </div>
        <br>
        <h2 align="center">Indoor Cycling</h2>
        <br>
        <p>An effective cardiovascular workout that can be performed in the comfort at a gym.</p>
        <br>
        <a href="#" >Read More</a>
    </div>
</div>
<br><br><br><br>
<div class="column">
    <div class="img1">
<img src="assets\about_img.jpg" width="550" height="578">
</div>
<div class="img2">
<img src="assets\hidden.jpg" width="1200" height="300" class="bg-img">
<p class="carousel-caption">Get special training 50% off pay now</p>
</div>
</div>
<br><br><br>